asistant.py
news.json
oopscraper.py
tvcontrol.py
.idea/.gitignore
.idea/Auction.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/urlmaker.cpython-310.pyc
samsung_remote-master/.gitignore
samsung_remote-master/LICENSE
samsung_remote-master/README.rst
samsung_remote-master/requirements.txt
samsung_remote-master/samsung_remote.py
samsung_remote-master/turndown.m
samsung_remote-master/helpers/macro.py
samsung_remote-master/helpers/ssdp.py
samsung_remote-master/helpers/tvcon.py
samsung_remote-master/helpers/tvinfo.py
samsung_remote-master/macros_samples/Sleep.m
